* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* --------------
!!! Root !!!
--------------- */
:root {
  --dark-purple: #270722;
  --platinum: #d7dedc;
  --Blue: #b2dafa;
  --Orage: #f39508;
  --black: #202020;
  --red: rgba(255, 0, 0, 0.459) (226, 17, 17);
}
/* --------------
!!! Body !!!
--------------- */
body {
  background-color: var(--dark-purple);
  max-width: 375px;
  margin: auto auto;
  padding-top: 50px;
  text-align: center;
}
aside,
button {
  background-color: var(--Blue);
  border-radius: 30px;
  color: var(--Orage);
  padding: 30px;
  font-weight: bold;
  margin: 3px;
  text-shadow: var(--dark-purple) 1px 1px 0px;
}
/* --------------
!!! Text !!!
--------------- */
header,
footer {
  color: var(--platinum);
  margin-bottom: 20px;
}
#stop {
  color: var(--red);
}
h1 {
  margin-bottom: 20px;
}
h2 {
  font-size: 20px;
  border-bottom: solid;
  padding-bottom: 5px;
}
p {
  margin: 20px 10px;
}
button {
  font-size: 20px;
}
/* --------------
!!! Hedder !!!
--------------- */
header {
  border: none;
}

/* --------------
!!! Main !!!
--------------- */
#soundbord {
  border: none --black;
  justify-content: space-evenly;
}
/* --------------
!!! Aside !!!
--------------- */
aside,
#key-text,
.hot-keys {
  display: flex;
}
aside {
  flex-direction: column;
}
#key-text {
  flex-direction: row;
}
.hot-keys {
  flex-direction: column;
  margin-inline: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* --------------
!!! Fotter !!!
--------------- */
footer {
  display: flex;
  justify-content: center;
  align-items: start;
  border: none;
  margin-top: 500px;
}
/* --------------
!!! Button !!!
--------------- */
